<div class="container text-center">
  {{#link-to 'admin.musicians'}}
    <div class="col-md-4 admin-nav-item">
      <h3>Musicians</h3>
    </div>
  {{/link-to}}
  {{#link-to 'admin.tags'}}
    <div class="col-md-4 admin-nav-item">
      <h3>Tags</h3>
    </div>
  {{/link-to}}
  {{#link-to 'admin.music'}}
    <div class="col-md-4 admin-nav-item">
      <h3>Music</h3>
    </div>
  {{/link-to}}
</div>
